/* header, footer font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/*header */
header {
  height: 500px;
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: #e5e8e8;
}

.box-ul {
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 10px;
  width: 345px;
  height: 50px;
  margin-left: 30px;
}

.box-ul li a {
  color: goldenrod;
  font-weight: bold;
  font-size: large;
}

.box-ul li a:hover {
  color: brown;
}

.para {
  color: goldenrod;
  font-weight: bold;
  font-size: x-large;
  padding-right: 20px;
  margin: 0 30px;
}

.header-img {
  background-image: url(../home/img/Gold-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

/*  main */
.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 600px;
  margin: 80px 30px 30 px 30px;
}

.pic-container {
  max-height: 350px;
}

div.pic {
  width: 350px;
  height: 300px;
  background-color: black;
  position: relative;
  left: -100px;
  top: 50px;
}

img[alt="about us"] {
  width: 600px;
  max-height: 500px;
  z-index: 20;
  position: relative;
  top: -225px;
  left: -75px;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 150px;
  font-family: "Playwrite GB S", cursive;
}

.main-info button {
  width: 150px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: goldenrod;
  color: azure;
  font-size: larger;
  font-weight: bold;
  border: none;
  box-shadow: 4px 4px 6px 2px darkgrey;
}

.main-info button:hover {
  background-color: white;
  color: goldenrod;
  border: 2px solid goldenrod;
}

/* footer */
footer {
  background-color: #e5e8e8;
  width: 100%;
  min-height: 400px;
  font-family: "Roboto", sans-serif;
}

.foot-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#footform input {
  width: 300px;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  margin: 50px 0;
}

#footform button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: gray;
  margin: 50px 0;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 30px;
  text-align: center;
  justify-content: center;
}

.foot-ul li a {
  font-weight: bold;
  font-size: large;
  color: black;
}

.foot-ul li a:hover {
  color: goldenrod;
}

@media (min-width: 500px) {
  #footform input {
    width: 500px;
  }
}

@media (min-width: 900) {
  #footform input {
    width: 800px;
  }
}
